.container-fluid {
  background: linear-gradient(to right, black, #434343);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-control label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-control input {
  width: 400px;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 15px;
}
.form-control:last-child {
  align-items: flex-end;
}
.form-control button {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
}
.form-control button:hover {
  cursor: pointer;
  background-color: lightgreen;
}
.event-container {
  margin-top: 30px;
  width: 400px;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.event-card {
  display: flex;
  height: 25px;
  align-items: center;
  overflow-y: hidden;
}
.event-card img {
  height: 40px;
  width: 40px;
  width: auto;
}
.event-card .tick {
  height: 40px;
  width: 53px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
